.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pullChart {
   min-height: 100%;
   width: 500px;
   height: 500px;
}

.star-5-bg {
  background: rgb(149, 104, 66);
  background: linear-gradient(
    180deg,
    rgba(149, 104, 66, 1) 0%,
    rgba(216, 142, 76, 1) 100%
  );
}

.star-4-bg {
  background: rgb(119, 94, 155);
  background: linear-gradient(
    169deg,
    rgba(119, 94, 155, 1) 0%,
    rgba(148, 112, 199, 1) 100%
  );
}
