@import (reference) './palette.less';

.star5Bg {
  background: linear-gradient(180deg, #956842 0%, #d88e4c 100%);
}

.star4Bg {
  background: linear-gradient(169deg, #775e9b 0%, #9470c7 100%);
}

.star3Bg {
  background: linear-gradient(169deg, #585e81 0%, #4e7c95 100%);
}

each(@elements, {
  .@{value}Text {
    color: darken(@@value, 40%);
  }
})